
@{
    ViewData["Title"] = "输入验证码";
}
@section styles{
    <link href="~/css/form.css" rel="stylesheet" />
    <style>
        .menu {
            display: none;
        }

        #main-body {
            background-color: #008cff !important;
        }
    </style>
}

<section class="form-container h-100">
    <div class="form-login">
        <h1>@_("找回密码")</h1>
        <form method="post" asp-action="InputVerCode" asp-controller="help">
            <p>
                @_("我们已经向您的邮箱发送了验证码，请查看收件箱或垃圾箱，并输入验证码")
            </p>
            <p>
                @Html.TextBox("verCode", null, null, new { placeholder = _("验证码"), required = "required" })
            </p>
            <p has-error="@_(ViewBag.ErrorMsg)"></p>
            <p class="submit">
                <input type="submit" name="commit" value="@_("下一步")" />
            </p>
        </form>
    </div>
</section>