
@{
    ViewData["Title"] = "设置密码";
}
@section styles{
    <link href="~/css/form.css" rel="stylesheet" />
    <style>
        .menu {
            display: none;
        }

        #main-body {
            background-color: #008cff !important;
        }
    </style>
}

<section class="form-container h-100">
    <div class="form-login">
        <h1>@_("找回密码")</h1>
        <form method="post" asp-action="RePassword" asp-controller="help">
            <p>@_("请重新输入密码")</p>
            <p>
                <input type="password" required name="password" placeholder="@_("密码")" />
            </p>
            <p>
                <input type="password" required name="rePassword" placeholder="@_("再次输入密码")" />
            </p>
            <p has-error="@_(ViewBag.ErrorMsg)"></p>
            <p class="submit">
                <input type="submit" name="commit" value="@_("确认")" />
            </p>
        </form>
    </div>
</section>